# Configurazione Database (MySQL)
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=kubestudy
MYSQL_USER=kubeuser
MYSQL_PASSWORD=kubepassword
MYSQL_HOST=db

# Configurazione Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Configurazione Backend
PORT=5005
NODE_ENV=development
SESSION_SECRET=cambiami_in_produzione_123456

# Configurazione Frontend (Vite)
VITE_API_URL=http://localhost:5005

# Percorsi Progetti (Corsi)
PROJECT_PUBLIC_PATH=./project_public
PROJECT_PRIVATE_PATH=./project_private
